<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/new_campground.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/a86abfaf3f.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-10">
        <div class="form d-flex">
          <div class="image">
            <img src="https://mdbootstrap.com/img/Photos/Others/sidenav2.jpg" style="height:100%">
          </div>
          <form method="POST" action="/blogs" class="my-form">
            <h4 class="font-weight-bold mb-3">Add a new post</h4>
            <p class="mdb-color-text">To post, please fill in these text fiels with title,image and body</p>
            <!-- Email address -->
            <div  class="form-group" >
            <div class="md-form md-outline">
              <i class="fas fa-envelope prefix"></i>
              <label for="emailExample">Title</label>
              <input type="text"  id="emailExample" name="blog[title]" class="form-control">
            </div>
            </div>
            <!-- Password -->
            <div class="form-group">
            <div class="md-form md-outline">
              <i class="fas fa-lock prefix"></i>
              <label for="passwordExample">Image</label>
                  <input type="text" id="passwordExample" name="blog[image]" class="form-control">
              </div>
            </div>
            <div class="form-group">
            <div class="md-form md-outline">
                 <label for="passwordExample">Body</label>
                 <textarea type="text" rows="8" cols="50" id="passwordExample" style="margin-bottom: 10px;" name="blog[body]" class="form-control"></textarea>
              </div>
            </div>

            <div  class="form-group" >
                <div class="md-form md-outline">
                  <i class="fas fa-envelope prefix"></i>
                  <label for="emailExample">Please enter complete address</label>
                  <input type="text" id="emailExample" name="blog[location]" class="form-control">
                </div>
              </div>

              <div  class="form-group" >
                <div class="md-form md-outline">
                  <i class="fas fa-envelope prefix"></i>
                  <label for="emailExample">location- type</label>
                  <input type="text" id="emailExample" name="blog[location_type]" class="form-control">
                </div>
              </div>

            <div class="form-group">
              <!-- <div class="md-form md-outline"> -->
                   <!-- <label for="passwordExample">Rating</label>
                   <input type="number" step = 1 class="form-control" placeholder="rate experience out of 5" name="blog[overall_rating]"> -->
                   <div class="star-rating">
                    <input type="radio" id="5-stars" name="blog[overall_rating]" value="5" />
                    <label for="5-stars" class="star">&#9733;</label>
                    <input type="radio" id="4-stars" name="blog[overall_rating]" value="4" />
                    <label for="4-stars" class="star">&#9733;</label>
                    <input type="radio" id="3-stars" name="blog[overall_rating]" value="3" />
                    <label for="3-stars" class="star">&#9733;</label>
                    <input type="radio" id="2-stars" name="blog[overall_rating]" value="2" />
                    <label for="2-stars" class="star">&#9733;</label>
                    <input type="radio" id="1-star" name="blog[overall_rating]" value="1" />
                    <label for="1-star" class="star">&#9733;</label>
                  </div>
              <!-- </div> -->
            </div>
            <div class="space">
              <div class="float-right">
                <button class="btn btn-rounded" >submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>


