
    <h3>Comments:</h3>
     <a class="btn btn-success" style="float: right;" href="/blogs/5ebd27ac831cb70cac1d19cf/comments/new">add a new comment</a>
   
      <p style="margin-top: 30px;"><strong>nirman - </strong>ebeuvfejknfhb </p>
      
 
</div>

<!-- key=AIzaSyBBHuoEF-I4cs8NJdwvRT4OvCfAvXjV_-I -->
   <!-- <% let arr = data.address.split(','); let dest = "" %> -->
                        <!-- <% for(let i = 0;i < arr.size();i = i + 1){ %>
                        <%   if(i == arr.size() - 1){ dest = dest +  arr[i];} %>
                        <%    else{ dest = dest +  (arr[i] + "+"); }  %>
                        <% } %> -->